@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Gilroy";
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: black;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
}

[class*=__box] {
  max-width: 1920px;
  margin: 0 auto;
}

.parallax {
  display: flex;
  height: 1160px;
  background: url("../img/bg_effects.png") no-repeat;
  position: relative;
  overflow: hidden;
}
.parallax__front, .parallax__back, .parallax__front, .parallax__way {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.parallax__way {
  z-index: 0;
}
.parallax__end {
  z-index: 1;
}
.parallax__center {
  z-index: 2;
}
.parallax__front {
  z-index: 3;
}
.parallax__front img, .parallax__back img, .parallax__center img, .parallax__way img {
  position: absolute;
}
.parallax__way img:nth-child(1) {
  margin-top: -200px;
  margin-left: -330px;
  /* width: 13%; */
}
.parallax__way img:nth-child(2) {
  margin-top: -50px;
  margin-left: 1700px;
}
.parallax__front img:nth-child(1) {
  margin-top: 850px;
  margin-left: -90px;
  /* width: 13%; */
}
.parallax__front img:nth-child(2) {
  margin-top: 150px;
  margin-left: 800px;
  /* width: 16%; */
}
.parallax__center img:nth-child(1) {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.parallax__back img:nth-child(1) {
  margin-top: 400px;
  /* width: 16%; */
}
.parallax__back img:nth-child(2) {
  margin-top: 480px;
  margin-left: 200px;
  /* width: 16%; */
}
.parallax__back img:nth-child(3) {
  margin-top: 560px;
  margin-left: 500px;
  /* width: 16%; */
}
.parallax__back img:nth-child(4) {
  margin-top: 50px;
  margin-left: 1400px;
  /* width: 16%; */
}
.parallax__back img:nth-child(5) {
  margin-top: 550px;
  margin-left: 1650px;
  /* width: 16%; */
}
.parallax__back img:nth-child(6) {
  margin-top: -50px;
  margin-left: 1700px;
  /* width: 16%; */
}