@import "null";
@import "fonts";

body{
    font-family: 'Gilroy';
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: black;
}
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;

}
[class*="__box"]{
    max-width: 1920px;
    margin: 0 auto;

}
@media(max-width:1300px){
    //параллакс заканчивается
}
.parallax {
    display: flex;
    height: 1160px;
    
    @media(max-width:1900px){
        height: 1140px;
    }
    @media(max-width:1848px){
        height: 1120px;
    }
    @media(max-width:1816px){
        height: 1100px;
    }
    @media(max-width:1785px){
        height: 1090px;
    }
    @media(max-width:1765px){
        height: 1070px;
    }
    @media(max-width:1730px){
        height: 1050px;
    }
    @media(max-width:1700px){
        height: 1020px;
    }
    @media(max-width:1655px){
        height: 990px;
    }
    @media(max-width:1605px){
        height: 960px;
    }
    @media(max-width:1555px){
        height: 930px;
    }
    @media(max-width:1512px){
        height: 900px;
    }
    @media(max-width:1455px){
        height: 870px;
    }
    @media(max-width:1410px){
        height: 840px;
    }
    @media(max-width:1360px){
        height: 820px;
    }
    @media(max-width:1330px){
        height: 800px;
    }
    @media(max-width:1290px){
        height: 775px;
    }
    @media(max-width:1255px){
        height: 755px;
    }
    @media(max-width:1220px){
        height: 730px;
    }
    @media(max-width:1180px){
        height: 705px;
    }
    @media(max-width:1150px){
        height: 690px;
    }
    @media(max-width:1120px){
        height: 670px;
    }
    @media(max-width:1080px){
        height: 650px;
    }
    @media(max-width:1050px){
        height: 630px;
    }
    @media(max-width:1020px){
        height: 610px;
    }
    @media(max-width:990px){
        height: 590px;
    }
    @media(max-width:955px){
        height: 570px;
    }
    @media(max-width:920px){
        height: 550px;
    }
    @media(max-width:890px){
        height: 530px;
    }
    @media(max-width:860px){
        height: 520px;
    }
    @media(max-width:840px){
        height: 500px;
    }
    @media(max-width:810px){
        height: 480px;
    }
    @media(max-width:775px){
        height: 460px;
    }
    @media(max-width:745px){
        height: 445px;
    }
    @media(max-width:720px){
        height: 430px;
    }
    @media(max-width:700px){
        height: 410px;
    }
    @media(max-width:660px){
        height: 380px;
    }
    @media(max-width:600px){
        height: 350px;
    }
    @media(max-width:560px){
        height: 300px;
    }
    @media(max-width:490px){
        height: 280px;
    }
    @media(max-width:450px){
        height: 250px;
    }
    @media(max-width:360px){
        height: 200px;
    }
 
 
    background: url('../img/bg_effects.webp') no-repeat;
    background-size: cover!important;
    position: relative;
    overflow: hidden; //отображает только область внутри блока остальное будет скрыто

    &__front, &__back, &__front, &__way {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    &__way {
        z-index: 0;
    }
    &__end{
        z-index: 1;
    }
    &__center{
        z-index: 2;
    }
    &__front{
        z-index: 3;
    }
  
    &__front img, &__back img, &__center img, &__way img{
        position: absolute;
       
        left: 50%;
    }
    // &__front img{
    //     /* box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5); */
    //     /* max-width: 220px; */
    // }
    // &__back img{
    //     /* max-width: 380px; */
    // }
    // &__front img {

    // }

 
    &__way img:nth-child(1){
        margin-top: -10%;
        margin-left: -68%;
        width: 31%;
       
    }
    &__way img:nth-child(2){
        margin-top: -1%;
        margin-left: 37%;
        width: 33%;
    }




    &__front img:nth-child(1){
        margin-top: 45%;
        margin-left:-55%;
        width:12%;
    }
    &__front img:nth-child(2){
        margin-top:10%;
        margin-left: -10%;
        width:10%;
    }


    &__center {
        
    }
    &__center img:nth-child(1){
        position: absolute;
        left: 0;
        bottom: 0;
        // width: 1920px; 
        width: 100%; 
        //  width: 16%;
    }
   
    &__back img:nth-child(1){
        margin-top: 20%;
        margin-left: -50%;
        width:5%;
    }
    &__back img:nth-child(2){
        margin-top: 25%;
        margin-left: -38%;
         width:8%;
    }
    &__back img:nth-child(3){
        margin-top: 30%;
        margin-left: -25%;
        width:5%;
    }
    &__back img:nth-child(4){
        margin-top: 4%;
        margin-left: 22%;
        width:8%;
        /* width: 16%; */
        // @media(max-width:1920px){
        //     height: 15vh;
        // }
    }
  
    &__back img:nth-child(5){
        margin-top: 30%;
        margin-left: 38%;
         width:15%;
        /* width: 16%; */
    }
  
 
 

    
  
}